<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Inbox</title>
</head>
<body>
<h2>Hey {{ user }}</h2>
    <table>
        <tr>
            <th>Sender</th>
            <th>Recipient</th>
            <th>Message</th>
        </tr>
        {% for targets in all_messages %}
            <tr>
                <td>{{ targets.Sender }}</td>
                <td>{{ targets.Recipient }}</td>
                <td>{{ targets.Mails }}</td>
            </tr>
        {% endfor %}
    </table>
    <a href="/chat/send/">Send Message</a>
    <!-- this form is the input field and send button at the bottom of -->
</body>
</html>